

body {
  margin: 0px;
  max-width: 100vw;
  height: 100vh;
  border-top: 70px solid blue;
  border-left: 30px solid blue;
  border-right: 30px solid blue;
  /* overflow-y: hidden; */
}

.App{
  padding: 2rem 1rem;
  position: absolute;
  top: 40px;
  left: 22px;
  height: 94vh;
  width: 93vw;
  margin: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  
  background: white !important; 
}

.App h1{
  margin: 0px;
}


